<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Employ-tkinter-to-input-files" data-toc-modified-id="Employ-tkinter-to-input-files-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Employ tkinter to input files</a></span></li><li><span><a href="#lets-take-a-look-at-TO-and-FROM-files" data-toc-modified-id="lets-take-a-look-at-TO-and-FROM-files-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>lets take a look at TO and FROM files</a></span></li><li><span><a href="#Choose-all-the-columns-to-vlookup-from-the-FROM-file-to-TO-file-;-both-the-files-should-have-a-matching-column-which-we-use-to-anchor" data-toc-modified-id="Choose-all-the-columns-to-vlookup-from-the-FROM-file-to-TO-file-;-both-the-files-should-have-a-matching-column-which-we-use-to-anchor-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Choose all the columns to vlookup from the FROM file to TO file ; both the files should have a matching column which we use to anchor</a></span></li><li><span><a href="#display-the-columns" data-toc-modified-id="display-the-columns-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>display the columns</a></span></li><li><span><a href="#Vlookup-to-TO-file" data-toc-modified-id="Vlookup-to-TO-file-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Vlookup to TO file</a></span></li><li><span><a href="#The-TO-file-now-has-all-the-columns-VLookup-from-FROM-file-based-on-the-lookup-column-&quot;Company&quot;" data-toc-modified-id="The-TO-file-now-has-all-the-columns-VLookup-from-FROM-file-based-on-the-lookup-column-&quot;Company&quot;-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>The TO file now has all the columns VLookup from FROM file based on the lookup column "Company"</a></span></li><li><span><a href="#Export-the-file" data-toc-modified-id="Export-the-file-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Export the file</a></span></li></ul></div>

In [1]:
from IPython.core.display import Image, display
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

import pandas as pd
import numpy as np
import csv
import ipywidgets as widgets
import time
import sys

# Employ tkinter to input files

In [3]:
import tkinter as tk
from tkinter import filedialog


# This part basically employs tkinter for pop up dialog
root= tk.Tk()
canvas1 = tk.Canvas(root, width = 280, height = 200, bg = 'lightsteelblue2', relief = 'raised')
canvas1.pack()

def get_1():
    global df2
    import_file_path = filedialog.askopenfilename()
#     df2 = pd.read_excel(import_file_path)
    df2 = pd.read_csv(import_file_path)
    root.destroy()
    
browseButton = tk.Button(text= "                             Import csv File : This is a VLOOKUP_FROM file ", command=get_1, bg='black', fg='white', font=('helvetica', 8, 'bold'))
canvas1.create_window(100, 100, window=browseButton)
tk.Button(root, text="Close", command=root.destroy).pack()
root.mainloop()

# This part basically employs tkinter for pop up dialog
root= tk.Tk()
canvas1 = tk.Canvas(root, width = 280, height = 200, bg = 'lightsteelblue2', relief = 'raised')
canvas1.pack()

def get_2():
    global df1
    import_file_path = filedialog.askopenfilename()
#     df1 = pd.read_excel(import_file_path)
    df1 = pd.read_csv(import_file_path)
    root.destroy()
    
browseButton = tk.Button(text="                              Import csv File : This is a VLOOKUP_TO file ", command=get_2, bg='black', fg='white', font=('helvetica', 8, 'bold'))
canvas1.create_window(100, 100, window=browseButton)
tk.Button(root, text="Close", command=root.destroy).pack()
root.mainloop()

<img src="from.png" style="height:280px">

<img src="from dialogue.png" style="height:500px">

# lets take a look at TO and FROM files

In [11]:
FROM = df2
FROM

,Company,Company ID,Country,Country ID,GICS Sector Name,GICS Sector ID,GICS Industry Name,GICS Industry ID,Region,Region ID,...,% change in PE Ratio,D/E Ratio,% change in D/E Ratio,Base market GDP,% change in GDP,Rm - Rf,Rf,SMB,HML,MOM
0,BHP Group Ltd,56,Australia,1,Materials,9,Metals & Mining,41,Asia Pacific,1,...,-,0,-,"386,766",-,0.055,0.000,-0.015,-0.011,0.019
1,BHP Group Ltd,56,Australia,1,Materials,9,Metals & Mining,41,Asia Pacific,1,...,(0.01),0,-,"386,766",-,0.017,0.000,-0.003,0.007,-0.021
2,BHP Group Ltd,56,Australia,1,Materials,9,Metals & Mining,41,Asia Pacific,1,...,0.04,0,-,"403,637",0.04,0.014,0.000,-0.041,0.026,-0.029
3,BHP Group Ltd,56,Australia,1,Materials,9,Metals & Mining,41,Asia Pacific,1,...,(0.02),0,-,"403,637",-,0.018,0.000,-0.008,0.016,0.014
4,BHP Group Ltd,56,Australia,1,Materials,9,Metals & Mining,41,Asia Pacific,1,...,(0.02),0,-,"403,637",-,0.001,0.000,0.013,0.008,0.010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31448,Wells Fargo & Co,433,USA,23,Financials,5,Banks,6,USA,5,...,(0.10),2,-,"5,404,700",-,-0.026,0.002,-0.024,-0.050,0.076
31449,Wells Fargo & Co,433,USA,23,Financials,5,Banks,6,USA,5,...,0.08,2,-,"5,404,700",-,0.014,0.002,-0.009,0.067,-0.069
31450,Wells Fargo & Co,433,USA,23,Financials,5,Banks,6,USA,5,...,0.02,2,0.04,"5,517,600",0.02,0.021,0.002,0.003,-0.021,0.002
31451,Wells Fargo & Co,433,USA,23,Financials,5,Banks,6,USA,5,...,0.11,2,-,"5,517,600",-,0.039,0.001,0.009,-0.019,-0.026
31452,Wells Fargo & Co,433,USA,23,Financials,5,Banks,6,USA,5,...,(0.01),2,-,"5,517,600",-,0.028,0.001,0.007,0.018,-0.021

In [12]:
TO = df1
TO

                                  Company
0                            QUALCOMM Inc
1                                Engie SA
2                       Nippon Steel Corp
3                     Deutsche Telekom AG
4                        Duke Energy Corp
5                   Swiss Life Holding AG
6                                Valeo SA
7           Koninklijke Ahold Delhaize NV
8                     Henkel AG & Co KGaA
9                             Terumo Corp
10                             Nikon Corp
11                          Alfa Laval AB
12  Ascendas Real Estate Investment Trust
13                     Burberry Group PLC
14                         Kingfisher PLC
15                          BHP Group Ltd
16                             Daimler AG
17                       Pernod Ricard SA
18                              Aviva PLC
19                       CLP Holdings Ltd

# Choose all the columns to vlookup from the FROM file to TO file ; both the files should have a matching column which we use to anchor

In [13]:
all_columns = list(df2.columns)
all_columns.remove('Company')
import ipywidgets as widgets
a = widgets.SelectMultiple(options=all_columns,description='columns',disabled=False)
display(a)

SelectMultiple(description='columns', options=('Company ID', 'Country', 'Country ID', 'GICS Sector Name', 'GIC…

# display the columns

In [14]:
list(a.value)

['Country',
 'GICS Sector Name',
 'GICS Sector ID',
 'Region ID',
 'Stock Price',
 'E Score',
 'S Score']

# Vlookup to TO file

In [15]:
%%time
vlookup_columns = list(a.value)
for column in vlookup_columns:
    TO[column]=pd.DataFrame({column:[]})
    TO[column] = TO.Company.map(FROM.set_index("Company")[column].to_dict())

Wall time: 1.56 s

# The TO file now has all the columns VLookup from FROM file based on the lookup column "Company"

In [ ]:
TO

# Export the file

In [ ]:
TodaysDate = time.strftime("%Y-%m-%d")
csvfilename = TodaysDate + ".csv"
TO.to_csv(csvfilename, index=False)
    # Proress 
message = widgets.Button(description='process completed',disabled=False,button_style='success', # 'success', 'info', 'warning', 'danger' or ''
tooltip='Click me',icon='check')
display(message)